<!DOCTYPE html>
<html> {% include headTerminal.html %}

<body>

</body>
<script type="text/javascript">

  $('body').terminal({
    hello: function () {
      this.echo('Hello, Wellcome to this terminal.');
    },

  }, {
    greetings: "\r\n    __________________________________ \r\n \
 / Hello, I hope you are well.        \\ \r\n \
| Now Im going to tell you about some  | \r\n \
| of the technical experiences ive had | \r\n \
 \\ throughout my life                 / \r\n \
   ---------------------------------- \r\n \
             .--. \r\n \
            |o_o | \r\n \
            |:_/ | \r\n \
           //   \\ \\ \r\n \
          (|     | ) \r\n \
         /'\\_   _/`\\ \r\n \
         \\___)=(___/"
  });

</script>

</html>
